:root {
  /* 品牌色 */
  --vp-c-brand-1: #00a2ff; /* 主要品牌色，用于链接、按钮背景等 */
  --vp-c-brand-2: #08b363; /* 品牌色的悬停/激活状态 */
  --vp-c-brand-3: #719b00; /* 品牌色的更亮变体 */
  --vp-c-brand-soft: rgba(100, 108, 255, 0.14); /* 品牌色的柔和背景色 */

  /* 也可以覆盖其他颜色，比如文本颜色、背景色等 */
  /* --vp-c-text-1: #2c3e50; */
  /* --vp-c-bg: #ffffff; */
}

/* 
  定义暗色模式下的颜色变量
  .dark 选择器会在 <html> 元素上应用暗色模式时生效
*/
.dark {
  --vp-c-brand-1: #00a2ff; /* 暗色模式下的主品牌色，通常更亮一些以保证对比度 */
  --vp-c-brand-2: #ff7b00;
  --vp-c-brand-3: #719b00;
  --vp-c-brand-soft: rgba(138, 222, 255, 0.14);
}
.VPHome .VPHero {
  position: relative; /* 确保伪元素可以相对于它定位 */
  z-index: 1;
  overflow:visible; /* 隐藏模糊效果溢出的边缘 */
}

.VPHome .VPHer {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300vh;
  height: 100vh;
  
  /* 1. 设置你的 SVG 背景 */
  background-image: url('/web.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: 20%; /* 或者 contain, 80%, etc. */
  

  /* 2. 应用模糊效果 */
  filter: blur(10px);

  /* 3. 调整透明度 */
  opacity: 0.1;

  /* 4. 确保背景在内容之下 */
  z-index: -1;

  /* (可选) 放大背景图，避免模糊后边缘出现空白 */
}

/* (可选) 为暗色模式调整透明度 */
.dark .VPHome .VPHero::before {
  opacity: 0.08;
}

.card-grid-container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 48px 24px;
}

.card-grid-container h2 {
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: 1px solid var(--vp-c-divider);
  padding-bottom: 12px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.tool-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.ebutton{
  transition: all 0.25s ease;
}
.ebutton:hover{
  color:var(--vp-c-brand-3);
  font-size: 2em;
  font-weight:bold;
  width:100px;
  height: auto;
}

.slogan2{
  text-align:center;
  margin:1em 0;
  /*animation: breath 6s 0s ease-out infinite;*/
}

@keyframes breath {
  0% {
  }
  50% {
    color: #e2f7a9;
    text-shadow: 0px 0px 10px #9afd6b;
  }
  100% {
  }
}

.typewriter{
  overflow: hidden; /* 防止文字溢出 */
  border-right: .15em solid #00ff99; /* 光标效果 */
  white-space: nowrap;
  letter-spacing: .1em;
  width:0;
  animation: typing 3.5s 0s linear infinite, blink-caret .75s step-end infinite;
}

/* 打字效果 */
@keyframes typing {
  0% { width: 0 }
  100% { width: 100% }
}

/* 光标闪烁 */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff99 }
}