:root {
  /* 品牌色 */
  --vp-c-brand-1: #00a2ff; /* 主要品牌色，用于链接、按钮背景等 */
  --vp-c-brand-2: #ff7b00; /* 品牌色的悬停/激活状态 */
  --vp-c-brand-3: #08b363; /* 品牌色的更亮变体 */
  --vp-c-brand-soft: rgba(100, 108, 255, 0.14); /* 品牌色的柔和背景色 */

  /* 也可以覆盖其他颜色，比如文本颜色、背景色等 */
  /* --vp-c-text-1: #2c3e50; */
  /* --vp-c-bg: #ffffff; */
}

/* 
  定义暗色模式下的颜色变量
  .dark 选择器会在 <html> 元素上应用暗色模式时生效
*/
.dark {
  --vp-c-brand-1: #00a2ff; /* 暗色模式下的主品牌色，通常更亮一些以保证对比度 */
  --vp-c-brand-2: #ff7b00;
  --vp-c-brand-3: #006435;
  --vp-c-brand-soft: rgba(138, 222, 255, 0.14);
}