/* 1. 定义常规体 (Normal/Regular) */
@font-face {
    font-family: 'Source Han Serif SC';
    src: url('/fonts/SourceHanSerifSC-Regular_0.otf') format('opentype');
    /* format可以是 'otf' 或 'opentype' */
    font-weight: 400;
    /* 或者 'normal' */
    font-style: normal;
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('/fonts/SourceHanSansSC-Regular.otf') format('opentype');
    /* format可以是 'otf' 或 'opentype' */
    font-weight: 400;
    /* 或者 'normal' */
    font-style: normal;
}
@font-face {
    font-family: 'Source Han Sans SC';
    src: url('/fonts/SourceHanSansSC-Bold.otf') format('opentype');
    /* format可以是 'otf' 或 'opentype' */
    font-weight: 700;
    /* 或者 'normal' */
    font-style: Bold;
}

/* 衬线数字字体 */
@font-face {
    font-family: 'tcode';
    src: url('/fonts/code.otf') format('opentype');
    /* format可以是 'otf' 或 'opentype' */
    font-weight: 400;
    /* 或者 'normal' */
    font-style: normal;
}

/* 2. 定义半粗体 (SemiBold) */
@font-face {
    font-family: 'Source Han Serif SC';
    src: url('/fonts/SourceHanSerifSC-SemiBold_0.otf') format('opentype');
    font-weight: 600;
    /* SemiBold 通常是 600 */
    font-style: normal;
}

/* 3. 定义粗体 (Bold) */
@font-face {
    font-family: 'Source Han Serif SC';
    src: url('/fonts/SourceHanSerifSC-Bold_0.otf') format('opentype');
    font-weight: 700;
    /* 或者 'bold' */
    font-style: normal;
}

/* 线数字字体 */
@font-face {
    font-family: 'B612';
    src: url('/fonts/ticket.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.ticket {
    font-family: 'Source Han Sans SC', serif;
    width: 428px;
    height: 270px;
    background-image: url('/ticket.png');
    background-size: cover;
    margin: 20px;
    color: #343638;
    border-radius: 20px;
    z-index: 1;
    transition: all 0.5s ease;
    box-shadow: 10px 10px 20px #000;

    .header {
        position: relative;
        top: 15px;
    }

    .machine {
        font-family: 'B612', serif;
        position: relative;
        left: 20px;
        font-size: 20px;
        color: #b95a5aff;
    }

    .check {
        position: absolute;
        font-size: 16px;
        right: 40px;
        text-align: right;
        font-family: 'Source Han Serif SC', serif;
    }

    .sta {
        position: relative;
        top: 20px;
    }

    .from_box {
        font-size: 24px;
        position: absolute;
        left: 40px;
        display: flex;
    }

    .from {
        top: 0px;
        text-align: justify;
        min-width: 80px;
        font-family: 'Source Han Sans SC';
    }

    .from::after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    .to_box {
        font-size: 24px;
        position: absolute;
        left: 280px;
        display: flex;
    }

    .to {
        top: 0px;
        text-align: justify;
        min-width: 80px;
        font-family: 'Source Han Sans SC';
    }

    .to::after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    .sta-py {
        position: relative;
        top: 44px;
        font-family: "FangSong", "仿宋", "STFangsong", serif;
        text-shadow:
            0.3px 0 0 black
            /* 往右移动半个像素 */
            /* -0.5px 0 0 black; 往左移动半个像素 */
        ;
    }

    .from-py {
        position: absolute;
        left: 40px;
        width: 96px;
        text-align: center;
        font-size: 14px;
        transform: scaleY(1.2) scaleX(0.8);
        letter-spacing: 2px;
    }

    .to-py {
        position: absolute;
        left: 280px;
        width: 96px;
        text-align: center;
        font-size: 14px;
        letter-spacing: 2px;
        transform: scaleY(1.2) scaleX(0.8);
    }

    .arrow {
        color: #343638;
        position: absolute;
        left: 230px;
        top: 16px;
        transform: scaleX(2.5) scaleY(1.0);
        text-shadow:
            0.3px 0 0 #343638;
    }

    .code {
        position: absolute;
        left: 170px;
        top: 4px;
        font-size: 22px;
        font-family: 'tcode', 'Times New Roman', 'Source Han Serif SC', serif;
        letter-spacing: 1px;
        width: 80px;
        text-align: center;
        padding: 0;
        border-bottom: solid 1.8px #343638;
        transform: scaleY(1.05);
    }

    .info {
        position: relative;
        top: 64px;
        left: 20px;
    }

    .ymdk {
        font-family: 'Source Han Serif SC', serif;
        font-size: 10px;
        position: absolute;
        left: 0px;
    }

    .time-yy {
        font-family: 'B612', serif;
        position: absolute;
        left: 0px;
    }

    .time-mm {
        font-family: 'B612', serif;
        position: absolute;
        left: 60px;
    }

    .time-dd {
        font-family: 'B612', serif;
        position: absolute;
        left: 96px;
    }

    .time-h {
        font-family: 'B612', serif;
        position: absolute;
        left: 132px;
    }

    .time-m {
        font-family: 'B612', serif;
        position: relative;
        left: 150px;
    }

    .car {
        font-family: 'B612', serif;
        position: absolute;
        right: 76px;
        top: 0;
        width: 100px;
    }

    .seat {
        font-family: 'B612', 'Source Han Serif SC', serif;
        position: absolute;
        right: 46px;
        top: 0;
        width: 100px;
        text-align: left;
    }


    .price {
        font-family: 'B612', 'Source Han Serif SC', serif;
        position: absolute;
        top: 20px;
        left: 0px;
    }

    .type {
        position: absolute;
        top: 20px;
        text-align: center;
        width: 360px;
        /*font-family: 'B612', 'Source Han Serif SC', serif;*/
    }

    .lv {
        position: absolute;
        top: 20px;
        text-align: center;
        right: 80px;
        width: 100px;
    }

    .pass {
        white-space: pre-line;
        font-family: 'B612', 'Source Han Serif SC', serif;
        position: relative;
        top: 150px;
        left: 20px;
        text-align: left;
    }

    .ads {
        white-space: pre-line;
        position: relative;
        top: 150px;
        left: 40px;
        font-family: 'Source Han Serif SC', serif;
        font-size: 14px;
        text-align: center;
        border: dashed 2px #343638;
        width: 260px;
        height: 36px;
        line-height: 16px;
    }

    .qrcode-wrapper {
        position: relative;
        left: 330px;
        top: 76px;
    }

    .bott {
        position: absolute;
        top: 60px;
        left: -20px;
        font-weight: bold;
        text-align: left;

        font-family: 'Times New Roman', Times, serif;

        letter-spacing: 0px;
    }
}

.ticket-old {
    border-radius: 0px;

    .header {
        position: relative;
        top: 20px;
        left: 10px;
        font-size: 20px;
    }

    .machine {
        font-family: 'B612', serif;
        position: absolute;
        left: 20px;
        color: #d13e3eff;
        letter-spacing: 4px;
    }

    .check {
        position: absolute;
        right: 40px;
        font-size: 16px;
        text-align: right;
        font-family: 'Source Han Serif SC', serif;
    }

    .sta {
        position: relative;
        top: 40px;
    }

    .sta-py {
        position: relative;
        top: 60px;
    }

    .info {
        top: 82px;
    }

    .ymdk {
        font-family: 'B612', 'Source Han Serif SC', serif;
        font-size: 16px;
        position: absolute;
        left: 0px;
        top: 1px;
    }

    .pass {
        top: 170px;
    }

    .ads {
        top: 170px;
    }

    .qrcode-wrapper {
        top: 96px;
        left: 320px;
    }

    .bott {
        position: absolute;
        top: 72px;
        left: -20px;
        font-weight: bold;
        text-align: left;

        font-family: 'Times New Roman', Times, serif;

        letter-spacing: 0px;
    }
}

.ticket-old2 {
    border-radius: 0px;

    .header {
        position: relative;
        top: 20px;
        left: 10px;
        font-size: 20px;
    }

    .machine {
        font-family: 'B612', serif;
        position: absolute;
        left: 20px;
        color: #d13e3eff;
        letter-spacing: 4px;
    }

    .check {
        position: absolute;
        right: 40px;
        font-size: 16px;
        text-align: right;
        font-family: 'Source Han Serif SC', serif;
    }

    .sta {
        position: relative;
        top: 50px;
    }

    .sta-py {
        position: relative;
        top: 76px;
    }

    .code {
        border: none;
        width: 100px;
        left: 160px;
    }

    .info {
        top: 100px;
    }

    .ymdk {
        font-family: 'B612', 'Source Han Serif SC', serif;
        font-size: 18px;
        position: absolute;
        left: 0px;
        top: 1px;
    }

    .lv {
        top: 28px;
    }

    .arrow {
        color: #343638;
        position: absolute;
        left: 200px;
        top: 16px;
        transform: scaleX(5.0) scaleY(2.5);
        text-shadow:
            0.2px 0 0 #343638;
    }

    .pass {
        top: 206px;
        font-size: 18px;
    }

    .qrcode-wrapper {
        top: 140px;
        left: 300px;
    }

    .bott {
        position: absolute;
        top: 106px;
        left: -30px;
        text-align: left;
        font-weight: 700;
        font-family: simsun;
        font-size: 18px;

        letter-spacing: 0px;
    }
}